body {
    margin: 0;
    padding: 0;
    font-family: Gilroy, serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

:root {
    --color: #252525;
}